@mixin light-theme {
  --color-text: #29303d;
  --color-subtext: #59667f;
  --color-subtext-1: #a3b1cc;
  --color-base: #f4f6fb;
  --color-surface: #ffffff;
  --color-surface-1: #dfe3ed;
  --color-accent: #4488ff;
  --color-error: #ef233c;
}

@mixin dark-theme {
  --color-text: #f4f7fa;
  --color-subtext: #8f96ac;
  --color-subtext-1: #4d5266;
  --color-base: #171923;
  --color-surface: #20222c;
  --color-surface-1: #2b2e3b;
  --color-accent: #4488ff;
  --color-error: #be0e23;
}

:root {
  // [s]pace
  --s-xl: 2rem;
  --s-lg: 1.5rem;
  --s-md: 1rem;
  --s-sm: 0.5rem;
  --s-xs: 0.25rem;

  --rounded: 8px;
  --rounded-sm: 4px;

  --outline: 2px solid var(--color-accent);

  @media (prefers-color-scheme: light) {
    @include light-theme;
  }

  @media (prefers-color-scheme: dark) {
    @include dark-theme;
  }

  &[data-theme='light'] {
    @include light-theme;
  }

  &[data-theme='dark'] {
    @include dark-theme;
  }
}

::selection {
  background: var(--color-subtext);
  color: var(--color-base);
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background: var(--color-surface-1);

  &-thumb {
    background: var(--color-subtext-1);

    &:active {
      background: var(--color-subtext);
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: var(--color-subtext-1) var(--color-surface-1);
  scrollbar-width: thin;

  &:focus-visible,
  .outline,
  .outline-box:has(:is(input, textarea):focus-visible) {
    outline: var(--outline);
  }

  &:focus-visible.no-outline {
    outline: none;
  }
}

body {
  color: var(--color-text);
  background: var(--color-base);
  font-family: 'Inter', system-ui, sans-serif;
}

button,
input,
textarea,
select {
  color: inherit;
  background: none;
  border: none;
  font: inherit;
}

:is(input, textarea)::placeholder {
  color: var(--color-subtext-1);
  user-select: none;
}

:is(button, select):enabled {
  cursor: pointer;
}

.input {
  background: var(--color-surface);
  border: 1px solid var(--color-surface-1);
  border-radius: var(--rounded);
}

.icon {
  height: 1em;
  width: 1em;
}
.icon-btn {
  display: grid;
  place-items: center;
  width: 1.5rem;
  height: 1.5rem;
  color: var(--color-subtext-1);
  border-radius: var(--rounded-sm);
  font-size: 20px;
  transition: color 0.2s ease-in-out;

  &:hover:enabled {
    color: var(--color-accent);
  }
}

.error {
  padding: var(--s-xs) var(--s-xs);
  color: #fff;
  background: var(--color-error);
  border-radius: var(--rounded-sm);
}
